/* General Styles */
.izzypost speech {
  display: inline;
  font-weight: bold;
}

.izzypost thought {
  display: inline;
  font-style: italic;
}

.izzypost written {
  display: inline;
  font-family: monotype;
}

.izzypost speech::before, .izzypost speech::after {
  display: inline;
  content: '"';
}

.izzypost thought::before, .izzypost thought::after {
  display: inline;
  content: "'";
}
  
.izzypost pokespeech {
  display: inline;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}

.izzypost pokespeech.eng::before {
  display: inline;
  content: '"' attr(data-speech) '"';
}

.izzypost pokespeech.poke::before {
  display: inline;
  content: '"' attr(data-pokespeech) '"';
}

.izzypost pokespeech:not(.translated) {
  font-size: 2em;
}

/* Content Warning */
.izzypost cw, .izzypost tw {
  display: block;
  color: red;
  font-style: italic;
  }

.izzypost cw::before {
  content: 'content warning:';
  padding: 0 5px 0 0;
  text-transform: uppercase;
  font-size: 0.9em;
}

.izzypost tw::before {
  content: 'content warning:';
  padding: 0 5px 0 0;
  text-transform: uppercase;
  font-size: 0.9em;
}

/* Characters */
.blake { color: #93745b; }
  .bitty { color: #4656a8; }


.dani { color: #56cdea; }
  .missy { color: #7299a8;}
  .wally { color: #edb4b8;}
.
