.izzypost speech {
  display: inline;
  font-weight: bold;
  color: var(--personSpeaking);
}

.izzypost speech::before, .izzypost speech::after {
  display: inline;
  content: '"' attr(data-speech) '"';
}
  
.izzypost pokespeech {
  display: inline;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  color: var(--pokeSpeaking);
}

.izzypost pokespeech.eng::before {
  display: inline;
  content: '"' attr(data-speech) '"';
}

.izzypost pokespeech.poke::before {
  display: inline;
  content: '"' attr(data-pokespeech) '"';
}

.izzypost pokespeech:not(.translated) {
  font-size: 2em;
}

/* Listed People */

speech .blake {
  --personSpeaking: #6EA2C1;
}

/* Listed Pokemon */

pokespeech .bitty {
  --pokeSpeaking: #783a8c;
}
