.izzypost pokespeech {
  display: inline;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}

.izzypost pokespeech.eng::before {
  display: inline;
  content: '"' attr(data-speech) '"';
}

.izzypost pokespeech.poke::before {
  display: inline;
  content: '"' attr(data-pokespeech) '"';
}

.izzypost pokespeech:not(.translated) {
  font-size: 2em;
}

.izzypost pokespeech.bitty {
  color: #5532aa;
}

/* for app */

#post {
  max-width: 500px;
  margin: 5em 0;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.newWrapper {
  display: flex;
}
